{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Quiz App</title>
</head>

<body>
    <nav>
        <ul>
            <!-- <li><a href="index.html"><i class="fa fa-home"></i></a></li> -->
            <li id="subject">Inicio</li>
        </ul>
    </nav>
    <h1 class="heading">Selecciona una materia</h1>
    <div class="container" >
      {% for cat in category_list %}
      <a style="text-decoration:none; color:inherit;" href="{% url 'quiz_category_list_matching' category_name=cat.category %}">
      <div class="item">{{ cat.category }}</div>
      </a>
      {% endfor %}
        <!-- <div class="item" onclick="location.href= 'Math.html'">Math</div>
        <div class="item" onclick="location.href= 'Geography.html'">Geography</div>
        <div class="item" onclick="location.href= 'History.html'">History</div> -->
    </div>
</body>

</html>